<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {% for post in posts %}
            <artice>
                <time>published: {{ post.published_date }}</time>
                <h2>Title: {{ post.title }}</h2>
                <h3>Author: {{ post.author }}</h3>
                <p>{{ post.text }}</p>
            </artice>
        {% endfor %}    
    </body>
</html>